main {
  /* height: 80vh; */
  padding-bottom: 1.5rem;
}
h1 {
  padding: 1rem;
  color: #7D7D7D;
}

h2 {
  color: #7D7D7D;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.5rem 0;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
/* footer styles */
footer {
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer-icon {
  padding: 5px;
  text-decoration: none;
}

/* header styles */
.headerLogo {
  width: 50px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.search-box {
  margin-left: auto;
}
.search-button{
  margin-left: 5px;
}

/* homePage syles */
.card-name-link {
  color: #7D7D7D;
  text-decoration: none;
}

.rating span {
  margin: 0.1rem;
}

/* product page styles */
.addToCartBtn {
  margin-left: 50px;
}

/* spinner style */
.spinner {
  width: 80px;
  height: 80px;
  margin: auto; 
  margin-top: 100px; 
  display: block
}

/* cart Page styles */
.cart-image {
  height: 50px; 
  width: 50px;
}

/* Payment Page styles */
.paymentOption {
  margin: 5px;
}

/* Confirm Order page styles */
.confirm-order-button {
  margin-left: 75px;
}



/* admin product list page styles */
.link-container-icon {
  border-radius: 5px;
}

.new-product-button {
  display: flex;
  justify-content: flex-end;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #ffff;
}

.carousel img {
  height: 500px;
  border-radius: 50px;
}
.carousel a {
  margin: 0 auto;
}

.top-products-image {
  width: auto;
  height: 300px;
}