main {
  height: 100vh;
}
h1 {
  padding: 1rem;
  color: #7D7D7D;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.5rem 0;
}

/* footer styles */

.footer-icon {
  padding: 5px;
  text-decoration: none;
}

/* header styles */
.headerLogo {
  width: 50px;
  height: 50px;
  border: solid 2px #fff;
  border-radius: 50%;
}

/* homePage syles */
.card-name-link {
  color: #7D7D7D;
  text-decoration: none;
}

.rating span {
  margin: 0.1rem;
}

/* product page styles */
.addToCartBtn {
  margin-left: 50px;
}

/* spinner style */
.spinner {
  width: 80px;
  height: 80px;
  margin: auto; 
  margin-top: 100px; 
  display: block
}

/* cart Page styles */
.cart-image {
  height: 50px; 
  width: 50px;
}

/* Payment Page styles */
.paymentOption {
  margin: 5px;
}

/* Confirm Order page styles */
.confirm-order-button {
  margin-left: 75px;
}

/* admin product list page styles */
.link-container-icon {
  border-radius: 5px;
}

.new-product-button {
  display: flex;
  justify-content: flex-end;
}